RewriteEngine on
RewriteBase /
RewriteCond $1 !^(index\.php|thumbnail\.php|test\.php|images|bootstrap-3.1.1-dist|fonts|genghis|phpmyadmin|css|uploads|audios|style|js|plugins|mp3|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !^(.*)\.(gif|txt|png|jpg|jpeg|html|css|js|mp3|zip|tgz|wav|woff|ttf|svg|eot)$ [NC]
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]

